data/harmonized/bird
data/harmonized/cluttermaps
data/harmonized/clutter-sensitivity
data/harmonized/statistics
data/harmonized
data/other
data/stations.txt
data/raw
log/stderr.txt
log/stdout.txt
ncradar/.metadata/
ncradar/build
ncradar/*hdf.geojson.csv
ncradar/*hdf.wkt.csv
other-data
testdata/harmonized/bird
testdata/harmonized/cluttermaps
testdata/harmonized/clutter-sensitivity
testdata/harmonized/statistics
#testdata/harmonized
testdata/raw
testdata/stations.txt
private
visualization-output
